<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
  <queries>
    <intent>
      <action android:name="android.intent.action.MAIN" />
      <category android:name="android.intent.category.LAUNCHER" />
    </intent>
  </queries>
  <application>
    <receiver
      android:name=".vpn.GuardianBootReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    <service
      android:name=".vpn.GuardianVpnService"
      android:exported="false"
      android:permission="android.permission.BIND_VPN_SERVICE"
      android:foregroundServiceType="specialUse">
      <property
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
        android:value="vpn filtering" />
      <intent-filter>
        <action android:name="android.net.VpnService" />
      </intent-filter>
    </service>
    <activity
      android:name=".accessibility.GuardianBlockActivity"
      android:exported="false"
      android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    <service
      android:name=".accessibility.GuardianAccessibilityService"
      android:exported="true"
      android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>
      <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/guardian_accessibility_service" />
    </service>
    <service
      android:name=".communication.GuardianNotificationListenerService"
      android:exported="true"
      android:label="@string/guardian_notification_listener_label"
      android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
      <intent-filter>
        <action android:name="android.service.notification.NotificationListenerService" />
      </intent-filter>
    </service>
  </application>
</manifest>
